{% load i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="flex items-center" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <div class="block {% if LANGUAGE_BIDI %}ml-3 mr-1{% else %}mr-3 ml-1{% endif %} outline rounded-full h-1 w-1 {% if value == '' or value == None %}bg-base-500 outline-gray-500/20{% elif value %}bg-green-500 outline-green-200 dark:outline-green-500/20{% else %}bg-red-500 outline-red-200 dark:outline-red-500/20{% endif %}"></div>

    <span>
        {% if value == '' or value == None %}
            {% trans 'Unknown' %}
        {% elif value %}
            {% trans 'True' %}
        {% else %}
            {% trans 'False' %}
        {% endif %}
    </span>
</div>
